﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStock.cshtml";
}

<section class="content-header">
    <h1>
        Management
        <small>@ViewData["PageName"]</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Stock"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Management</li>
        <li class="active">Create User</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputFirstName">Firstname</label>
                                <input type="text" class="form-control" id="firstname">
                            </div>
                            <div class="col-md-6">
                                <label for="inputLastName">Lastname</label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding-top: 15px;">
                                <label for="inputEmail">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                            </div>
                            <div class="col-md-6" style="padding-top: 15px;">
                                <label for="inputPhone">Phone number</label>
                                <input type="text" class="form-control" id="phoneNumber" onfocusout="displayPhoneNumber()" onclick="clearDisplayPhonNumber()">
                            </div>
                        </div>
                        <div class="form-group" style="padding-left: 15px;">
                            <label for="inputSex" style="padding-top: 15px;">Sex</label>
                            <div class="radio" style="margin-top: 0px;">
                                <label>
                                    <input type="radio" name="sex" id="Male" value="Male" checked>
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="sex" id="Female" value="Female">
                                    Female
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4" style="padding-top: 15px;">
                                <label for="inputUsername">Username</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter username">
                            </div>
                            <div class="col-md-4" style="padding-top: 15px;">
                                <label for="inputPhone">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="col-md-4" style="padding-top: 15px;">
                                <label for="inputPhone">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function displayPhoneNumber() {
        var phoneNumber = $("#phoneNumber").val();
        if (phoneNumber != "") {
            phoneNumber = phoneNumber.substr(0, 3) + '-' + phoneNumber.substr(3, 3) + '-' + phoneNumber.substr(6, phoneNumber.length)

            document.getElementById("phoneNumber").value = phoneNumber;
        }
    }

    function clearDisplayPhonNumber() {
        var phoneNumber = $("#phoneNumber").val().replace(/-/g, '');

        document.getElementById("phoneNumber").value = phoneNumber;
    }
</script>