﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutStock.cshtml";
}

<section class="content-header">
    <h1>
        Management
        <small>@ViewData["PageName"]</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="/Stock"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>
<section class="content"></section>

